<html class="no-js" lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">

  <title>404错误提示页</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS: implied media=all -->
  <link rel="stylesheet" th:href="@{/static/css/error/404style.css}" href="/static/css/error/404style.css">
  <link rel="stylesheet" th:href="@{/static/css/error/404blue.css}" href="/static/css/error/404blue.css">

  <script th:src="@{/static/js/error/jquery-404.js}" src="/static/js/error/jquery-404.js"></script>
  <script th:src="@{/static/js/error/404script.js}" src="/static/js/error/404script.js"></script>

  <style type="text/css">
  </style>

</head>
<body>

<div id="error-container">
  <div id="error">
    <div id="pacman"></div>
  </div>
  <div id="container">
    <div id="title">
      <h1>对不起, 你访问的页面不存在!</h1>
    </div>
    <div id="content">
      <div class="left">
        <p class="no-top">&nbsp;&nbsp;&nbsp;可能是如下原因引起了这个错误:</p>
        <ul>
          <li>&nbsp;&nbsp;&nbsp;URL输入错误</li>
          <li>&nbsp;&nbsp;&nbsp;链接已失效</li>
          <li>&nbsp;&nbsp;&nbsp;其他原因...</li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="right">
        <p class="no-top">推荐您通过以下链接继续访问本博：</p>
        <ul class="links">
          <li><a href="http://www.smallseashell.com/">» 博客首页</a></li>
          <li><a href="http://www.smallseashell.com/">» 阅读博文</a></li>
          <li><a href="http://www.smallseashell.com/">» 欣赏图片</a></li>
        </ul>
        <ul class="links">
          <li><a href="http://www.smallseashell.com/">» 人过留名</a></li>
          <li><a href="http://www.smallseashell.com/">» 腾讯空间</a></li>
          <li><a href="http://www.smallseashell.com/">» 关于本博</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="footer">
      CopyRight © 2015 www.smallseashell.com 小贝壳素材库 All Rights Reserved.
    </div>
  </div>
</div>
</body>

</html>